@inject IWeekTimeProcessor WeekTimeProcessor

<table class="table">
    <thead>
    <tr>
        <th>
            <abbr title="Project">Total hours</abbr>
        </th>

        <Iterations Items="WeekTimeProcessor.WeekTimeEntries.TimeEntries">
            <th>
                <abbr title="@context.Date">@context.Date</abbr>
            </th>
        </Iterations>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th>
            <abbr title="Position"></abbr>
        </th>
        <Iterations Items="WeekTimeProcessor.WeekTimeEntries.TimeEntries" Context="dayTimeEntry">
            <th>
                <abbr title="@dayTimeEntry.Date">@dayTimeEntry.TotalHours</abbr>
            </th>

            <Iterations Items="@dayTimeEntry.TimeEntries"  Context="timeEntry">
                <th>
                    <abbr title="@timeEntry.Hours">@timeEntry.Hours</abbr>
                </th>
            </Iterations>

        </Iterations>
    </tr>
    </tbody>
</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        await WeekTimeProcessor.Load();
    }

}